
{% extends "base.html.twig" %}

{% block content %}

  <div class="container col-lg-10">
    <div class="row row-buttons">
      <img  class="youtube-icon" src="{{ url('assets/icons/youtube/youtube.svg') }}" alt="youtube logo">
      <h4 class="youtube-title">L'ACTU YOUTUBE</h4>
      <div>
        <button class="btn hashtag youtube-button" value="bitcoin">#BITCOIN</button>
        <button class="btn hashtag youtube-button" value="crypto">#CRYPTO</button>
        <button class="btn hashtag youtube-button" value="blockchain">#BLOCKCHAIN</button>
        <button class="btn hashtag youtube-button" value="co">#ICO</button>
      </div>
    </div>
    <div class="row row-content">
      {% include 'partials/videos.html.twig' with videos %}
    </div>
  </div>

{% endblock %}

{% block javascripts %}
  <script src="{{ url('assets/js/youtube.js') }}"></script>
{% endblock %}
