
.marquee {
  z-index: 4;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.edge {
  position:absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  display: block;
}

.edge:before {
  content: '';
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  background: -webkit-linear-gradient(left, white 10%, rgba(0,0,0,0) 100%);
}

.edge:after {
  content: '';
  position: absolute;
  width: 30%;
  height: 100%;
  right: 0;
  background: -webkit-linear-gradient(right, white 10%, rgba(0,0,0,0) 100%);
}

.currencies {
  height: 25px;
  margin: 0;
  background: #ddd;
}

.currency {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
