{% extends 'base.html.twig' %}

{% block content %}

    <div class="buy-content">
        <div id="mapbuy"></div>
    </div>


{% endblock %}


{% block javascripts %}

  <script src="{{ url('assets/js/lib/leaflet.js') }}"></script>

  <script src="{{ url('assets/js/buy.js') }}"></script>

{% endblock %}
