
{% extends 'base.html.twig' %}

{% block content %}
    <div class="container faq">     
        <h2>C’est quoi cryptomap ?</h2>
        <p><strong>Cryptomap</strong> est un projet développé dans le cadre de la formation <a href="http://www.accesscodeschool.fr/" target="_blank">Access Code School</a> qui a pour but de proposer une source d’informations fiable sur les moyens d’acheter et dépenser ses bitcoins.
        L’équipe de développement est composée de 4 personnes : <a href="https://github.com/rasha84" target="_blank">rasha84</a> <a href="https://github.com/Do0oV" target="_blank">Do0oV</a> <a href="https://github.com/knorjador" target="_blank">knorjador</a> et <a href="https://github.com/psaulay" target="_blank">psaulay</a>.</p>
        <h2>C’est quoi le bitcoin ?</h2>
        <p><strong>Bitcoin</strong> (de l'anglais bit : unité d'information binaire et coin « pièce de monnaie ») est une monnaie virtuelle cryptographique autrement appelée <strong>cryptomonnaie</strong>. 
        On écrit bitcoin dans le cas de l’unité qu’on va échanger et Bitcoin dans le cas du protocole qui permet cette échange. 
        L’idée est proposé en 2008 par un pseudonyme : Satoshi Nakamoto. Et le 3 janvier 2009 le protocole est lancé il n’a jamais arrêté de fonctionner depuis.
        <br><br>Plus d'informations sur le site bitcoin.fr: <a href="https://bitcoin.fr/qu-est-ce-que-bitcoin/" target="_blank">Bitcoin c’est quoi ?</a></p>
        <h2>Comment ça marche ?</h2>
        <p>Plus d'informations sur le site bitcoin.fr: <a href="https://bitcoin.fr/comment-fonctionne-bitcoin/" target="_blank">Comment fonctionne Bitcoin ?</a></p>
        <h2>Où acheter du bitcoin ?</h2>
        <p>Tout va dépendre du moyen de paiement que vous souhaitez utiliser :<br><br>
        -<strong>en cash</strong> vous pouvez vous référer à notre carte qui va vous permettre de localiser <strong>les distributeurs automatiques de bitcoin(ATM)</strong> et <strong>les vendeurs</strong> (particuliers ou professionnels) qui acceptent l’échange euros contre bitcoin en liquide.<br>
        -<strong>dans le cas d’un achat par virement bancaire ou paiement carte bleue</strong> nous vous conseillons de vous orienter vers le site <a href="https://www.coinbase.com/join/59214a25fb353e5c6636ac63" target="_blank">www.coinbase.com</a>.<br>
        Ce lien vous permettra pour 100$ déposé sur coinbase d’etre crédité de 10$ supplémentaire et nous offrira 10$ aussi pour continuer d’améliorer le site et les données fournies.</p>
        <h2>Où dépenser mes bitcoins ?</h2>
        <p>De la même manière, notre site vous permet de localiser les points où vous allez pouvoir dépenser vos bitcoins.<br>
        N’hésitez pas à nous contacter pour nous signaler si une information n’est pas à jour sur notre site.</p>
        <h2>Comment stocker mes bitcoins de manière sécurisée ?</h2> 
        <p>Un des moyens les plus simple et les plus sécurisé est d’utiliser un hardware wallet c’est à dire un appareil conçu spécifiquement pour stocker des cryptos actifs et dédié uniquement à cette usage.
        Nous vous conseillons le site <a href="https://www.ledgerwallet.com/r/41aa" target="_blank">www.ledgerwallet.com</a>.<br>
        Vous pouvez aussi opter pour une application ou un logiciel tel que <a href="https://coinomi.com/" target="_blank">coinomi</a> pour un stockage sur smartphone ou <a href="https://www.exodus.io/" target="_blank">Exodius</a> pour un stockage sur Windows, Mac ou linux.</p> 


        <h2>Comment nous contacter ?</h2>
        <p>************************</p>
    </div>  
{% endblock %}
