
{% extends 'base.html.twig' %}

{% block content %}

  <div class="home-content">
    <div class="btn-action flex-wrap">
      <button class="btn btn-home bitcoin" value="cash">Achat cash</button>
      <button class="btn btn-home bitcoin" value="venue">Commerçants</button>
      <button class="btn btn-home bitcoin" value="atm">Distributeurs</button>
      <button class="btn btn-home bitcoin" value="reset">Réinitialiser</button>
    </div>
     <div id="map"></div>
  </div>

{% endblock %}

{% block javascripts %}

  {{ parent() }}
  <script src="{{ url('assets/js/lib/leaflet.js') }}"></script>
  <script src="{{ url('assets/js/home.js') }}"></script>

{% endblock %}
